.contact .heading{
    font-size: 3.5rem;
}
.contact form{
    margin:0rem auto;
    max-width: 45rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding:1.5rem;
}
.contact form p{
    text-align:start;
    color:var(--black) ;
    text-transform: lowercase;
    margin-bottom: 1rem;
}

.contact form .box{
    padding:1rem 1.5rem;
    width:100%;
    background: none;
    color:var(--black);
    font-size: 1.2rem;
    text-transform: none;
    margin:.3rem 0;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.contact form textarea{
    height: 10rem;
    resize: none;
}

.contact form .box:focus{
    box-shadow: var(--box-shadow-inset);
}
@media screen and (max-width: 450px){
    .contact .heading{
        font-size: 3rem;
    }
}