
.credits {
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem 1rem;
    margin-top: 1rem;
    border-top: var(--border);
    color: var(--black);
}
.credits span{
    color: var(--blue);
}